<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a>
        </li>
        <li><a ng-href="#">About</a>
        </li>
        <li><a ng-href="#">Contact</a>
        </li>
    </ul>
    <h3 class="text-muted">IA - 8 Queens</h3>
</div>

<div class="row" style="margin-top: 10px;">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Strategy</label>
                <select ng-model="strategy" ng-options="s for s in strategies" class="form-control"></select>
            </div>
            <div class="col-md-6" style="margin-top: 25px;">
                <a ng-click="solve()" class="btn btn-primary btn-block">
                    Solve it!
                </a>
            </div>
        </div>

        <div class="alert" ng-class="cls_message" ng-if="message" style="margin-top: 10px;">
            {{message}}
        </div>

        <div class="panel panel-primary" ng-if="g_info">
            <div class="panel-heading">Info Panel</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>Completed <strong>{{g_info.epoch}}</strong> epochs.</li>
                    <li>Encountered <strong>{{g_info.mutations}}</strong> mutations
                        in <strong>{{g_info.childCount}}</strong> offspring.</li>
                    <li>Solution: {{g_info.solution}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <table class="board">
            <tbody>
                <tr ng-repeat="(index_row, row) in board track by $index">
                    <td ng-repeat="col in row track by $index" class="cell" ng-class="{'cell-black': color(index_row, $index)}">
                        <img class="queen" ng-if="col === 1"
                             ng-src="images/{{color(index_row, $index) ? 'white' : 'black'}}-queen.png"
                             alt="queen" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="footer">
    <p>♥ from the Yeoman team</p>
</div>
